<mat-toolbar color="primary" class="mat-toolbar">
<div fxLayout="row" class="div2" fxLayoutGap="22px" class="title">
  <div class="div4"> 
      <mat-icon class="m-icon-movie">local_movies</mat-icon>
  </div>
  <div fxLayout="column" class="div3">
      <h2>POPCORN</h2>
      <h4>Entertainment</h4>    
  </div> 
</div>


<!-- <span class="example-fill-remaining-space"></span> -->
<mat-form-field fxFlex class="form">
  <input matInput class="input" placeholder="movie name......">
  <mat-icon matSuffix class="m-icon">search</mat-icon>

  <!-- <mat-icon class="search">search</mat-icon> -->
</mat-form-field>

<div  class="link-div" fxLayoutAlign="end end">
  <!-- <button mat-button [matMenuTriggerFor]="menu">

  </button> -->
<a href=""><h4>LOGIN</h4></a> 
<a href=""><h4>REGISTER</h4></a> 
</div>
<!-- <div fxFlex class="link-div" fxLayoutAlign="end end"></div> -->
</mat-toolbar>